{#
# Created by PhpStorm.
# User: @jdperea59
# PC: gerencia-ti
# Date: 16/04/18
# Time: 11:23 AM
#}
{% extends "@App/Layouts/layout.html.twig" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <h2>Sidemenu</h2>
            <hr/>
        </div>
        <div class="col-lg-4">
            <h2>Content</h2>
        </div>
    </div>
</div>
{% endblock %}