{# 
# Created by PhpStorm.
# User: @jdperea59 
# PC: gerencia-ti
# Date: 24/04/18
# Time: 02:49 PM
#}

{% extends "@App/Layouts/layout.html.twig" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-8 box-form">
                    <h3>Create Presentación</h3>
                    <hr/>
                    {{ form_start(form, {'enctype':'multipart/form-data'}) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $(".form-nombre-presentacion").keyup(function () {
                var nick = this.value;
                if (nick.length >= 4) {
                    $.ajax({
                        url: '{{ path('presentaciontest') }}',
                        data: {nombre: nick},
                        type: 'POST',
                        success: function (response) {
                            if (response == "used") {
                                $(".form-nombre-presentacion").css("border", "1px solid red");
                            } else {
                                $(".form-nombre-presentacion").css("border", "1px solid green");
                            }
                        }
                    });
                } else {
                    $(".form-nombre-presentacion").css("border", "1px solid red");
                }
            })
        });
    </script>
{% endblock %}